################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DancingGoatCore_Publish

/.vs
/CMS/obj/Debug
/CMS/CMSApp.csproj.user
