################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DancingGoatCore_Publish
/DancingGoatCore/Properties/PublishProfiles/FolderProfile.pubxml.user
/DancingGoatCore/DancingGoatCore.csproj
/DancingGoatCore/DancingGoatCore.csproj.user
