@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}




@*<div class="d-none">
<editable-area area-identifier="ContactUs" area-options-allowed-widgets="new[] { SystemComponentIdentifiers.FORM_WIDGET_IDENTIFIER }" />
</div>*@

<section class="block-eForm py-5">
    <div class="container">
        <h1 class="text-center">From For DEV!!</h1>
        <p class="text-center">
            เลือกเรื่องที่ต้องการสอบถาม แนะนำ หรือติชม และกรอกข้อมูลให้ครบ <br />
            เราจะรีบติดต่อกลับโดยเร็ว หรือส่งอีเมลมาหาเราได้ที่ ContactUs@heygoody.com
        </p>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-10 mx-auto">
                <form class="e-form rounded shadow p-4">
                    <div class="mb-3">
                        <select class="form-select">
                            <option selected>เรื่องที่ต้องการติดต่อ</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="row g-0">
                        <div class="col-4 mb-3">
                            <select class="form-select">
                                <option selected>คำนำหน้า</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-8 mb-3">
                            <input type="text" class="form-control" placeholder="ชื่อ" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="นามสกุล" />
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="อีเมล" />
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="เบอร์มือถือ" />
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control overflow-hidden" placeholder="อยากบอกเราว่า..." rows="2"
                                  id="textArea" style="padding: 12px 16px 24px;"></textarea>
                    </div>
                    <div class="mb-3">
                        <p class="mb-0">รูปภาพประกอบ (ถ้ามี)</p>
                        <p>แนบรูปภาพได้ไม่เกิน 5 รูป</p>
                        <button type="button" class="btn btn-primary" id="btnFistUpFiles" onclick="triggerClick();">
                            Fist Up
                            Files
                        </button>
                        <div>
                            <input class="form-control" type="file" id="upFiles" name="upFiles[]" multiple
                                   onchange="upFilesImg(this,'listsImg');" accept=".png,.jpg,.gif"
                                   onclick="this.value=null;" hidden>



                            <div id="listsImg"></div>
                        </div>
                        <button type="button" class="btn btn-info" id="btnLastUpFiles" style="display:none;"
                                onclick="triggerClick();">
                            Last Up Files
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    // Function: Text Area Auto Height
    textarea = document.querySelector("#textArea");
    textarea.addEventListener('input', autoResize, false);
    function autoResize() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 2 + 'px';
    }

    var arrayFile = [];

    function triggerClick() {
        document.getElementById("upFiles").click();
    }

    function upFilesImg(input) {
        let total_file = input.files.length;
        for (var i = 0; i < total_file; i++) {

            let fileName = input.files[i].name;
            let filenameSP = fileName.split('.')
            fileName = filenameSP[0] + "_" + makeid(5) + "." + filenameSP[1]
            let fileSize = input.files[i].size

            let compressSize = 1;
            let compressType = "image/jpeg";

            if (fileSize >= 1 * 1000 * 1000) {
                compressSize = 0.55
            }
            ImageProcess(input.files[i], compressSize, compressType, fileName, fileSize);
        }
    }

    function ImageProcess(img, compressSize, compressType, fileName, fileSize) {
        return new Promise(resolve => {
            let blobURL = URL.createObjectURL(img);
            let image = new Image();
            image.src = blobURL;

            image.onload = () => {
                URL.revokeObjectURL(this.src);
                let canvas = document.createElement("canvas");
                canvas.width = 600;
                canvas.height = 350;
                let ctx = canvas.getContext("2d");
                ctx.drawImage(image, 0, 0, 600, 350);

                canvas.toBlob(
                    blob => {

                        //console.log(`in ${(blob.size / 1024).toFixed(2)} KB`)
                        var compressedFile = new File([blob], fileName, {
                            type: 'image/jpeg',
                            lastModified: Date.now()
                        });
                        //console.log(compressedFile)

                    },
                    compressType,
                    compressSize);

                let imageObject = {};
                imageObject.Name = fileName;
                imageObject.Size = fileSize;
                imageObject.base64 = canvas.toDataURL('base64Img');

                if (arrayFile.length < 5) {
                    //console.log(arrayFile);

                    arrayFile.push(imageObject);
                }
                document.getElementById("listsImg").innerHTML = "";
                arrayFile.forEach(element => {
                    showImage(element.base64, element.Name, element.Size)
                });
                showUploadButton();
                resolve('resolved');
            }

        });
    }

    function showImage(src, name, size) {
        document.getElementById("listsImg").innerHTML += `
                <div id="item" class="listsImg-items">
                    <img width='300' height='300' src='${src}' /><br/>
                    <br/>
                    <p>${name}<p>
                    <br/>
                    <p>${(size / 1024).toFixed(2)} KB</p>
                    <button onclick="removeImage(this,'${name}')" type='button'>ลบ</button>
                </div>
            `
    }

    function removeImage(element, name) {
        element.parentNode.remove();
        let filtered = arrayFile.filter(function (el) { return el.Name != name; })
        arrayFile = filtered;
        showUploadButton();
    }

    function showUploadButton() {
        if (arrayFile.length < 5 && arrayFile.length != 0) {
            document.getElementById("btnFistUpFiles").style.display = "none";
            document.getElementById("btnLastUpFiles").style.display = "block"

        } else if (arrayFile.length == 5) {
            document.getElementById("btnFistUpFiles").style.display = "none";
            document.getElementById("btnLastUpFiles").style.display = "none";
        } else {
            document.getElementById("btnFistUpFiles").style.display = "block";
            document.getElementById("btnLastUpFiles").style.display = "none";
        }
    }


    function makeid(length) {
        let result = '';
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        const charactersLength = characters.length;
        let counter = 0;
        while (counter < length) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
            counter += 1;
        }
        return result;
    }

</script>

